<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Simple Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1D80DF449B0E950D9D02CD198E6DB186066926C4</string>
				<key>dateExpires</key>
				<string>16/11/2024</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1D80DF449B0E950D9D02CD198E6DB186066926C4</string>
						<key>dateExpires</key>
						<string>16/11/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SimpleRunnerDriver.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2H48644JM2</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2H48644JM2.com.elegantchaos.simplerunner</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2H48644JM2</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Simple Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9c8fb995-6d75-484c-a1fc-80b7118577e7</string>
				<key>dateExpires</key>
				<string>09/08/2025</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2H48644JM2</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
